# Rider/Visual Studio settings
.idea/
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa]pp[Pp]ublish/
bin/
obj/

# JetBrains Rider
.idea/
*.iws

# Other
.DS_Store
appsettings.Development.json
